@import 'swiper/css';
@import 'swiper/css/effect-coverflow';

#root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Container for the entire app */
.container {
    max-width: 100vw;
    max-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

/* Segmented Control Wrapper */
.segmentedControlWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Segmented buttons */
.segmentedControl {
    border: 1px solid #ccc;
    border-radius: 8px;
    /*background-color: #f9f9f9;*/
    cursor: pointer;
    outline: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    overflow: hidden;
    > * {
        padding: 0.5rem 1rem;
        min-width: 4rem;
    }
    > *:not(:first-child) {
        border-left: 1px solid #ccc;
    }
}

.header {
    flex: 1;
}

.segmentButton:hover {
    background-color: #eee;
}

/* Active segmented button styling */
.activeSegmentButton {
    background-color: #ddd;
    color: #000;
    font-weight: bold;
}

/* Swiper container */
.carouselContainer {
    max-width: 1108px;
    max-height: 90vh;
    flex: 4;
}

/* Swiper overrides */
.swiper {
    padding-bottom: 2rem;
}

/* Each slide alignment */
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Cover art size */
.coverArt {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* Text container */
.albumTextContainer {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
    max-width: 98vw;
}

/* Artist / album styling */
.artistName {
    font-weight: bold;
    margin: 0;
    font-size: 1.4rem;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.albumName {
    margin: 0;
    font-size: 1.2rem;
    white-space: normal;       /* Allows line breaks */
    word-break: break-word;
}

.searchBar {
    justify-self: flex-start;
}

@media (max-width: 767px) {
    .coverArt {
        width: 90vw;
        height: 90vw;
    }
}
